@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

:root {
    --primary-color: #C778DD;
    --primary-color-opacity: rgba(199, 120, 221, 0.5);
    /* --primary-color: rgb(17, 192, 223);
    --primary-color-opacity: rgba(17, 192, 223, 0.5); */
    --secondary-color: #ABB2BF;
    --background-color: #282C33;
    --text-color: #ffffff;
    --error-color: #E06C75;
    --warning-color: #E5C07B;
    --success-color: #98C379;
    --margin-right: 15vw;
    --margin-left: 15vw;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Fira Code', monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Fira Code', monospace;
    font-weight: 100;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

header nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: var(--background-color);
    z-index: 1000;
}

header nav ul {
    display: flex;
    list-style: none;
    padding: 20px var(--margin-left) 0 var(--margin-right);
    align-items: center;
    margin: 0;
    gap: 20px;
}

header nav ul li {
    margin: 0 10px;
    font-size: 20px;
}

header nav ul li#logo-container {
    display: flex;
    align-items: center;
    margin-right: auto;
}

header nav ul li#logo-container a {
    display: flex;
    align-items: center;
    margin-right: auto;
    font-weight: bold;
    color: var(--text-color);
}

header nav ul li#logo-container a img {
    width: 50px;
    height: 50px;
}

header nav ul li a {
    text-decoration: none;
    color: var(--secondary-color);
}

header nav ul li a:hover {
    color: var(--text-color) !important;
}

.current-page {
    color: var(--text-color) !important;
}

#hamburger-menu {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: 30px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    top: 40px;
    right: 30px;
    z-index: 1100;
}

#hamburger-menu .line {
    background-color: var(--text-color);
    height: 3px;
    border-radius: 2px;
    transition: all 0.3s ease-in-out;
}

#hamburger-menu .line1 {
    width: 35px;
}

#hamburger-menu .line2 {
    width: 20px;
}

#hamburger-menu.active .line1 {
    transform: rotate(45deg) translate(7px, 5px);
    width: 35px;
}

#hamburger-menu.active .line2 {
    transform: rotate(-45deg) translate(7px, -5px);
    width: 35px;
}

#hamburger-menu:not(.active) .line1,
#hamburger-menu:not(.active) .line2 {
    transform: none;
}

span {
    color: var(--primary-color);
    font-weight: bold;
}

.hero {
    display: flex;
    /* position: absolute; */
    margin-left: var(--margin-left);
    font-size: 3vh;
}

.hero h1 {
    font-weight: 500;
    margin: 35px 0 0 0;
}

.hero h2 {
    margin: 0 0 50px 0;
    font-weight: 500;
}

.hero h2 span {
    text-shadow: 0 0 15px var(--primary-color-opacity);
}

.hero #hero-contact {
    position: relative;
    text-decoration: none;
    color: var(--text-color);
    text-transform: uppercase;
    font-size: 24px;
    border: var(--primary-color) 2px solid;
    padding: 5px 20px;
    overflow: hidden;
}

.hero #hero-contact::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100vh;
    width: 100%;
    height: 100%;
    visibility: visible;
    background-color: var(--primary-color);
    z-index: -1;
    transition: left 0.3s ease-in-out;
}

.hero #hero-contact:hover::before {
    left: 0;
}

.hero #hero-contact:hover {
    color: var(--background-color);
    transition-delay: 0.3s;
}

#hero-images {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}

.hero #big-logo {
    position: absolute;
    top: 3vh;
    left: 15vw;
    width: 200px;
    height: 200px;
    z-index: -1;
}

.hero #my-picture {
    width: auto; /* Allow the image to scale naturally */
    max-width: 100%; /* Ensure responsiveness */
    height: 400px; /* Maintain the original height */
    object-fit: cover; /* Ensure the image scales properly */
}

.hero #dots1 {
    position: absolute;
    bottom: 7vh;
    right: 20vw;
    height: 75px;
}

.hero #working-on {
    position: relative;
    padding: 10px 40px;
    border: var(--secondary-color) 2px solid;
    background-color: var(--background-color);
    color: var(--secondary-color);
    font-size: 20px;
    font-weight: bold;
    width: auto;
}

.hero #working-on::before {
    content: '';
    position: absolute;
    top: 25%;
    left: 0.5vw;
    width: 20px;
    height: 20px;
    background-color: var(--primary-color-opacity);
    border: var(--primary-color) 2px solid;
}

.hero #working-on span {
    color: var(--text-color);
}

#current-project {
    display: inline-block;
    font-family: 'Fira Code', monospace;
}

#current-project::after {
    content: "";
    display: inline-block;
    width: 2px;
    height: 1em;
    background-color: var(--text-color);
    animation: blink 0.8s steps(1, start) infinite;
}

@keyframes blink {

    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

#contact-icons-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 25px;
    z-index: 1001;
}

#contact-icons-container #contact-icons-line {
    width: 2px;
    height: 250px;
    background-color: var(--secondary-color);
    position: absolute;
    left: 20px;
}

#contact-icons-container #contact-icons {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 275px;
    left: 5px;
}

#contact-icons-container #contact-icons a:hover {
    filter: brightness(0) invert(1);
}

main {
    margin-top: 230px;
}

.projects {
    margin-left: var(--margin-left);
    margin-top: 100px;
}

#projects-header {
    display: flex;
    align-items: center;
}

#projects-header h2 {
    font-size: 28px;
    font-weight: 500;
    position: relative;
}

#projects-header h2::after {
    content: "";
    display: block;
    width: 30vw;
    height: 2px;
    background-color: var(--primary-color);
    position: absolute;
    transform: translate(100%, -50%);
    right: -16px;
    top: 50%;
}

#projects-header a {
    margin-left: auto;
    margin-right: 325px;
}

#projects-header a:hover {
    color: var(--primary-color);
    transition: color 0.3s ease-in-out;
}

#projects-header a::after {
    content: '-->';
    margin-left: 5px;
}

.project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
    margin-right: var(--margin-right);
}

.project-list .project-item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15vw;
    height: 42.5vh;
    margin-bottom: 50px;
    border-radius: 15px;
    background-color: var(--background-color);
    box-shadow: 0 0 15px var(--primary-color-opacity);
    padding: 20px;
}

.project-list .project-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
}

.project-list .project-item h3 {
    font-size: 24px;
    font-weight: 500;
    margin: 10px 0 10px 0;
}

.project-list .project-item p {
    font-size: 18px;
    font-weight: 300;
    margin: 0 0 20px 0;
}

.project-list .project-item a {
    position: relative;
    text-decoration: none;
    color: var(--text-color);
    font-size: 18px;
    font-weight: 500;
    border: var(--primary-color) 2px solid;
    padding: 5px 20px;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    z-index: 1;
    margin-top: auto;
}

.project-list .project-item a::before {
    content: '';
    position: absolute;
    top: 0;
    left: -200vh;
    width: 100%;
    height: 100%;
    visibility: visible;
    background-color: var(--primary-color);
    z-index: -1;
    transition: left 0.3s ease-in-out;
    visibility: hidden;
}

.project-list .project-item a:hover::before {
    left: 0;
    visibility: visible;
}

.project-list .project-item a:hover {
    color: var(--background-color);
    transition-delay: 0.3s;
}

.skills {
    margin-left: var(--margin-left);
    margin-top: 100px;
}

#skills-header {
    display: flex;
    align-items: center;
}

#skills-header h2 {
    font-size: 28px;
    font-weight: 500;
    position: relative;
}

#skills-header h2::after {
    content: "";
    display: block;
    width: 20vw;
    height: 2px;
    background-color: var(--primary-color);
    position: absolute;
    transform: translate(100%, -50%);
    right: -16px;
    top: 50%;
}

.about-me, .contacts {
    margin-left: var(--margin-left);
    margin-top: 100px;
}

#about-me-header, #contacts-header {
    display: flex;
    align-items: center;
}

#about-me-header h2, #contacts-header h2 {
    font-size: 28px;
    font-weight: 500;
    position: relative;
}

#about-me-header h2::after,
#contacts-header h2::after {
    content: "";
    display: block;
    width: 15vw;
    height: 2px;
    background-color: var(--primary-color);
    position: absolute;
    transform: translate(100%, -50%);
    right: -16px;
    top: 50%;
}

#about-me-header h2::after {
    width: 30vw;
}

/* FOOTER */

footer {
    border-top: var(--secondary-color) 2px solid;
    margin-top: 50px;
}

#top-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#top-footer #footer-logo-container {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 var(--margin-left);
}

#top-footer #footer-logo-container a {
    display: flex;
    align-items: center;
    font-weight: bold;
    color: var(--text-color);
}

#top-footer #footer-logo-container a p {
    font-size: 20px;
}

#top-footer #footer-logo-container p {
    margin: 0;
    margin-left: 5px;
}

#top-footer #footer-logo-container a img {
    width: 50px;
    height: 50px;
}

#follow-container {
    margin: 20px var(--margin-right) 0 0;
}

#follow-container h3 {
    font-size: 24px;
    font-weight: 500;
    margin: 0 0 20px 0;
}

#follow-container #follow-icons a:hover {
    filter: brightness(0) invert(1);
}

footer aside {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--secondary-color);
}

@media screen and (min-width: 769px) {
    #hamburger-menu {
        display: none;
    }

    #mobile-nav {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    :root {
        --margin-right: 5vw;
        --margin-left: 5vw;
    }

    #hamburger-menu {
        display: flex;
    }

    #desktop-nav {
        display: none;
    }

    #mobile-nav-container.hidden {
        display: flex;
        transform: translateX(0);
    }

    #mobile-nav #mobile-logo {
        position: fixed;
        display: flex;
        align-items: center;
        margin-right: auto;
        top: 25px;
        left: 10px;
    }

    #mobile-nav #mobile-logo a {
        display: flex;
        align-items: center;
        margin-right: auto;
        font-weight: bold;
        color: var(--text-color);
    }

    #mobile-nav #mobile-logo img {
        width: 50px;
        height: 50px;
    }

    #mobile-nav-container {
        position: fixed;
        top: 100px;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: var(--background-color);
        z-index: 1000;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 50px;
        padding: 20px var(--margin-left) 0 var(--margin-right);
        transform: translateX(100%);
        transition: transform 0.5s ease-in-out;
    }

    #mobile-nav-container a {
        font-size: 36px;
        font-weight: 500;
        color: var(--secondary-color);
        text-decoration: none;
    }

    .hero {
        flex-direction: column;
        left: var(--margin-left);
        font-size: 3vh;
        gap: 20px;
    }

    .hero h2 {
        margin: 0 0 25px 0;
    }

    .hero #hero-contact {
        font-size: 20px;
    }

    .hero #big-logo {
        top: 8vh;
        left: -8vw;
        width: 200px;
        height: 200px;
    }

    .hero #my-picture {
        height: 400px;
    }

    .hero #dots1 {
        bottom: 12vh;
        right: 15vw;
        height: 75px;
    }

    .hero #working-on {
        height: 50px;
        min-width: auto;
        width: 70vw;
        max-width: auto;
        padding: 5px 40px;
        font-size: 20px;
    }

    .hero #working-on::before {
        top: 30%;
        left: 10px;
        width: 20px;
        height: 20px;
    }

    main {
        margin-top: 75px;
    }

    #projects-header {
        display: flex;
        align-items: center;
    }

    #projects-header h2::after {
        width: 20vw;
    }

    #projects-header h2 {
        font-size: 28px;
        font-weight: 500;
        position: relative;
    }

    #projects-header a {
        margin-left: auto;
        margin-right: 0;
    }

    #projects-header a::after {
        content: '->';
    }

    .project-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        margin-right: 0;
    }

    .project-list .project-item {
        width: auto;
        height: 60vh;
        margin-bottom: 50px;
        border-radius: 15px;
        background-color: var(--background-color);
        box-shadow: 0 0 15px var(--primary-color-opacity);
        padding: 20px;
    }

    .project-list .project-item img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: inherit;
    }

    .project-list .project-item h3 {
        font-size: 24px;
        font-weight: 500;
        margin: 10px 0 10px 0;
    }

    .project-list .project-item p {
        font-size: 18px;
        font-weight: 300;
        margin: 0 0 20px 0;
    }

    .project-list .project-item a {
        position: relative;
        text-decoration: none;
        color: var(--text-color);
        font-size: 18px;
        font-weight: 500;
        border: var(--primary-color) 2px solid;
        padding: 5px 20px;
        transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
        z-index: 1;
        margin-top: auto;
    }

    #contact-icons-container {
        display: none;
    }

    #mobile-contact-icons {
        display: flex;
        position: absolute;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 30px;
        bottom: 200px;
        left: 90px;
    }

    #mobile-contact-icons a img {
        width: auto;
        height: 50px;
        filter: brightness(0) invert(0.7);
    }

    #mobile-contact-icons a img:hover {
        filter: brightness(0) invert(1);
    }

    /* #contact-icons-container {
        display: none;
        flex-direction: row;
        top: 0;
        left: 25px;
        z-index: 1001;
    }
    
    #contact-icons-container #contact-icons-line {
        display: none;
    }
    
    #contact-icons-container #contact-icons {
        position: absolute;
        display: flex;
        flex-direction: row;
        top: 80vh;
        left: 0;
        gap: 20px;
    }

    #contact-icons-container #contact-icons a img {
        width: auto;
        height: 80px; 
    }*/
}